{% extends 'blog/base.html' %}

{% block title %}Drafts{% endblock %}

{% block body %}
    {% for post in posts %}
        {% if user == post.author %}
        <div class="container">
            <ul class="list-group">
                <a href="{% url 'post_details' pk=post.pk %}" class="list-group-item list-group-item-action list-group-item-primary"><h1>{{ post.title }}</h1></a>
                <li class="list-group-item"><p class="tt">{{ post.text }}</p></li>
                <li class="list-group-item"><p>Created date: {{ post.created_date }}</p></li>
            </ul>
        </div>
        {% endif %}
        <br>
    {% endfor %}
    <a href="{% url 'make_post' %}" style="margin-left: 165px;"><button class="btn btn-primary">Write new post</button></a>
{% endblock %}